:root {
    --primary: #ffff;
    --bg: #010101;
    --dark: #2d3e50;
    --bg2: #f4f4f5;
    --font: #181717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--font);
}
/* Menghilangkan arrow input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: var(--dark);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.navbar .navbar-logo {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
}

.navbar .navbar-nav a {
    color: #ffffff;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color:#6497b1;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #6497b1;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}


.home {
    margin-top: 6rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}

.home p {
    line-height: 25px;
    padding: 1.5rem;
}

.luas {
    display: flex;
    flex-direction: column;
    border: 1px solid #c3e5f7;
    margin: 5rem;
}
.luas .luas-heading {
    padding-block: 3rem;
    text-align: center;
    background-color: #c3e5f7;
    font-size: 1.2rem;
}
.luas .luas-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
}
.luas .luas-body {
    font-size: 1.5rem;
    padding: 1rem 3%;
    line-height: 2.5rem;
    border-bottom: 1px solid #c3e5f7;
}
.luas .luas-body #rumus {
    text-align: center;
    font-weight: bold;
}
.luas .luas-footer {
    padding: 1rem 3%;
    font-size: 1.2rem;
}
.luas .luas-footer h1 {
    text-align: center;
    padding-block: 2rem;
}
.luas .luas-footer .input {
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.2rem;
    margin: 0.5rem 0rem;
    width: 100%;
    padding: 1rem;
}
.luas .luas-footer #output-luas {
    line-height: 2rem;
}
.luas .luas-footer #hitung {
    font-style: bold;
    background-color: #51a2ce;
    color: #ffffff;
    padding-block: 1rem;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: 1rem;
    width: 25%;
    cursor: pointer;
    transition: 0.5s ease;
}
.luas .luas-footer #hitung:hover {
    background-color: #011f4b;
}
.luas .luas-footer #reset {
    font-style: bold;
    background-color: #bbce51;
    color: #ffffff;
    padding-block: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: 1rem;
    width: 25%;
    cursor: pointer;
    transition: 0.5s ease;
}
.luas .luas-footer #reset:hover {
    background-color: #728509;
}



.keliling {
    display: flex;
    flex-direction: column;
    border: 1px solid #c3e5f7;
    margin: 5rem;
}
.keliling .keliling-heading {
    padding-block: 3rem;
    text-align: center;
    background-color: #c3e5f7;
    font-size: 1.2rem;
}
.keliling .keliling-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
}
.keliling .keliling-body {
    font-size: 1.5rem;
    padding: 1rem 3%;
    line-height: 2.5rem;
    border-bottom: 1px solid #c3e5f7;
}
.keliling .keliling-body #rumus {
    text-align: center;
    font-weight: bold;
}
.keliling .keliling-footer {
    padding: 1rem 3%;
    font-size: 1.2rem;
}
.keliling .keliling-footer h1 {
    text-align: center;
    padding-block: 2rem;
}
.keliling .keliling-footer .input {
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.2rem;
    margin: 0.5rem 0rem;
    width: 100%;
    padding: 1rem;
}
.keliling .keliling-footer #output-keliling {
    line-height: 2rem;
}
.keliling .keliling-footer #hitung {
    font-style: bold;
    background-color: #51a2ce;
    color: #ffffff;
    padding-block: 1rem;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: 1rem;
    width: 25%;
    cursor: pointer;
    transition: 0.5s ease;
}
.keliling .keliling-footer #hitung:hover {
    background-color: #011f4b;
}
.keliling .keliling-footer #reset {
    font-style: bold;
    background-color: #bbce51;
    color: #ffffff;
    padding-block: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    font-size: 1rem;
    width: 25%;
    cursor: pointer;
    transition: 0.5s ease;
}
.keliling .keliling-footer #reset:hover {
    background-color: #728509;
}


footer {
    padding-block: 4vh;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    color: #ffffff;
}
footer h1 {
    font-style: italic;
}
footer div {
    display: flex;
    gap: 2vh;
}


@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}